{% extends 'base.html' %} 

{% block content%}
<div class='row'>
        <div class='col-sm-2'>
                <ul class="list-group">
                        <li class="list-group-item"><a>News</a></li>
                        <li class="list-group-item">Buzz</li>
                        <li class="list-group-item">Tags</li>
                        <li class="list-group-item">Languages</li>
                      </ul>
            </div>
            <div class='col-sm-10'>
            </div>
</div>
{% endblock %}