body{
    background-image: url(../img/light_grey.png)
}
body .body.container{
    min-height:500px;
}
.navbar{
    /* background-color:#25a59a!important; */
    background-color:rgba(255, 255, 255, .40);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(127,127,127,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(127,127,127,0.75);
    box-shadow: 1px 1px 2px 0px rgba(127,127,127,0.75);
    margin-bottom: 25px;
}

.navbar .navbar-brand{
    color: hsl(10,0%,0%)!important
}
.card{
    margin-right:50px;
    width:275px;
}

.newspost{
    display:flex;
    
    width:100%;
    margin:10px 5px;
    padding:2px;
    box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}

.newspost .thumbnail{
    padding: 5px;
    width:200px;
    height:150px;
}

.newspost .content{
background-color: white;
width:100%;
padding:5px 10px;
}

.newspost .content .title a
{
    font-weight: bold;
    font-size:19px;
    color:#1c2024;
}

.newspost .content .subtitle
{
    font-weight: regular;
    font-size:15px;
    
}